<p>
  <% if current_user %>
    Welcome:
    <%= "#{current_user.email}" %> -
    <%= link_to "Sign Out", logout_path, method: "delete" %><br />
  <% end %>
</p>
<h1>URLockbox - Links Index!</h1>
<h3>Add a new Link to the List</h3>
<form id="new-link">
  <label>URL:
    <input id="link-url">
  </label>
  <label>Title:
    <input id="link-title">
  </label>
  <input type="submit" value="Add Link">
</form>

<h3>Check out those links!</h3>
<div id="links-list"></div>

<h2>Hot Reads!</h2>
<ol id="hot-reads">
<% @hot_links.each do |read| %>
  <li class='hot-read'>
    <a href="<%= read.url %>"><%= read.url %></a>
  </li>
<% end %>
</ol>
<img src="https://m.popkey.co/4c7272/QL6mJ.gif">
