<p>
  <% if current_user %>
    Welcome:
    <%= "#{current_user.email}" %> -
    <%= link_to "Sign Out", logout_path, method: "delete" %><br />
  <% end %>
</p>
<h1>URLockbox - Links Index!</h1>
<h3>Add a new Link to the List</h3>
<form id="new-link">
  <label>URL:
    <input id="link-url">
  </label>
  <label>Title:
    <input id="link-title">
  </label>
  <input type="submit" value="Add Link">
</form>
<h3>Search for Links</h3>
<p>
  <input type="text" name="link-search" class="link-search-field" />
  <button type="button" id='filter-read'>Filter by Read Links</button>
  <button type="button" id='filter-unread'>Filter by Unread Links</button>
</p>
<h3>Check out those links!</h3>
<div id="links-list"></div>
